[Desktop Entry]
Name=AetherFiles
Comment=A modern and fast file manager
Exec=aetherfiles %U
Icon=aetherfiles
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;Utility;
Keywords=folder;manager;explore;disk;file;system;browser;
MimeType=inode/directory;application/x-gnome-saved-search;
StartupNotify=true
